<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectname">Project Name</label>

          <input
              type="text"
              id="projectname"
              formControlName="projectname"
              class="form-control">
          <span class="help-block" *ngIf="!myForm.get('projectname').valid && myForm.get('projectname').touched">
          <span class="help-block" *ngIf="myForm.get('projectname').errors['projectnamesforbidden']"> Project name is invalid!</span>
            <span class="help-block" *ngIf="myForm.get('projectname').errors['required']">This field is required! </span>
          </span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control">
          <span class="help-block" *ngIf="!myForm.get('email').valid && myForm.get('email').touched">This field is not valid!</span>
        </div>
        <div class="form-group" >
          <label for="currentStatus">Project Status</label>
          <select
            class="form-control"
            id="currentStatus"
            formControlName="currentStatus">
            <option [value]="x" *ngFor="let x of status">{{x}}</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">
          Submit </button>

      </form>

      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
    </div>
  </div>
</div>
